@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap);

* {
    font-family: 'Poppins', sans-serif;
}
/* navbar */
nav .navbar-brand {
    font-weight: 600;
    font-size: 40px;
}

.my-nav {
    font-weight: 400;
    font-size: 18px;
}

.my-nav .nav-item a{
    color: #777777 !important;
}

.register-btn{
    color: #289BDE;
    border-color: #289BDE;
    font-weight: 600;
    font-size: 20px;
}

/* img slider */

.my-carousel h5{
    font-weight: 600;
    font-size: 65px;
}

.my-carousel p{
    font-weight: 400;
    font-size: 18px;
    color: #F4F4F4 !important;
}



.get-start-btn button{
    background: #289BDE !important;
    border-color: #289BDE !important;
    font-weight: 600;
    font-size: 20px;
    
}

/* courses */

#courses h1{
    font-weight: 600;
    font-size: 45px;
    margin-top: 6rem !important;
    color: #1D1D1D !important;
}

#courses p{
    font-weight: 400;
    font-size: 16px;
    color: #777777 !important;
}

/* card */

.card {
    padding: 0; 
}

.card-body{
    padding: 0;
}

.card-title{
    font-weight: 600px;
    font-size: 25px;
    color: #4A4A4A;
}
.card-text{
    font-weight: 400px;
    font-size: 16px;
    color: #777777;
    margin-bottom: 8;
}
.price{
    font-weight: 600px;
    font-size: 18px;
    color: #289BDE;
    margin-bottom: 0;
}
/* register section */
#register{
    background: #289BDE;
    color: #ffffff;
    border-radius: 5px;
    
}

#register h5{
    font-weight: 600;
    font-size: 45px;

}
#register p{
    font-weight: 400;
    font-size: 16px;
    color: #ffffff !important;

}
.btn-secondary{
    font-weight: 600;
    font-size: 20px;
}

@media screen and (max-width: 576px){
    .carousel-inner img {
        height: 100vh;
        object-fit: cover;
    }

    .course-header{
        width: 90% !important;
    }
    .card img{
        width: 100%;
    }
    .card-body{
        padding: 20px;
    }

    .faq-section article{
        width: 90% !important;
    }
    
}


@media screen and (min-width: 578px) and (max-width: 991px){
    .carousel-inner img {
        height: 100vh;
        object-fit: cover;
        
    }
    .course-header{
        width: 90% !important;
    }
    .card img{
        width: 100%;
    }

    .card-body{
        padding: 0;
        padding-left: 10px; 
    }

    .faq-section article{
        width: 90% !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1400px){
    .card{
        max-width: 550px !important;
    }
    .card-body{
        padding: 0;
        padding-left: 10px; 
    }

    
}


