@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap);

* {
    font-family: 'Poppins', sans-serif;
}

nav {
    color: #3e3e3e;
    background: #e5e5e5;
}

nav .navbar-brand {
    font-weight: 700;
    font-size: 22px;
}

nav .nav-items {
    font-weight: 500;
    font-size: 16px;
}