@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap);

* {
    font-family: 'Poppins', sans-serif;
}
/* navbar */
nav .navbar-brand {
    font-weight: 600;
    font-size: 40px;
}

.my-nav {
    font-weight: 400;
    font-size: 18px;
}

.my-nav .nav-item a{
    color: #777777 !important;
}

.register-btn{
    color: #289BDE;
    border-color: #289BDE;
    font-weight: 600;
    font-size: 20px;
}

/* img slider */

.my-carousel h5{
    font-weight: 600;
    font-size: 65px;
}

.my-carousel p{
    font-weight: 400;
    font-size: 18px;
    color: #F4F4F4 !important;
}



.get-start-btn button{
    background: #289BDE !important;
    border-color: #289BDE !important;
    font-weight: 600;
    font-size: 20px;
    
}

/* courses */

#courses h1{
    font-weight: 600;
    font-size: 45px;
    margin-top: 6rem !important;
    color: #1D1D1D !important;
}

#courses p{
    font-weight: 400;
    font-size: 16px;
    color: #777777 !important;
}

/* card */

.card {
    padding: 0; 
}

.card-body{
    padding: 0;
}

.card-title{
    font-weight: 600px;
    font-size: 25px;
    color: #4A4A4A;
}
.card-text{
    font-weight: 400px;
    font-size: 16px;
    color: #777777;
    margin-bottom: 8;
}
.price{
    font-weight: 600px;
    font-size: 18px;
    color: #289BDE;
    margin-bottom: 0;
}
/* register section */
#register{
    background: #289BDE;
    color: #ffffff;
    border-radius: 5px;
    
}

#register h5{
    font-weight: 600;
    font-size: 45px;

}
#register p{
    font-weight: 400;
    font-size: 16px;
    color: #ffffff !important;

}
.btn-secondary{
    font-weight: 600;
    font-size: 20px;
}

/* footer */
footer {
    background-color: #161616;
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.line {
    height: 0;
    width: 100%;
    margin: 50px auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

footer p{
    font-weight: 400;
    font-size: 16px !important;
    color: #E8E8E8 !important;
}

footer h5{
    font-weight: 400;
    font-size: 15px !important;
    color: #E8E8E8 !important;
}

.social {
    text-align: center;
    
}

.social i {
    padding: 20px;
    font-size: 25px;
    cursor: pointer;
}

.social a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 576px){

    .navbar a{
        font-weight: 600;
        font-size: 25px;  
    }
    .navbar img{
        height: 24px !important;
    }
    .carousel-inner img {
        height: 40vh;
        object-fit: cover;
        
    }
    .btn-primary{
        
        font-weight: 600;
        font-size: 16px !important;
    }

    .carousel-text h5{
        font-weight: 600;
        font-size: 20px;
        padding: 0 !important;
    }

    .carousel-text p{
        font-weight: 400;
        font-size: 12px;
        padding: 0 !important;
    }

    #courses h1{
        font-size: 18px;
    }
    #courses p{
        font-size: 14px;
    }

    .card-title{
        font-weight: 600;
        font-size: 16px;
    }

    .card-text{
        font-weight: 400;
        font-size: 14px;
    }
    .price {
        font-weight: 600;
        font-size: 18px;
    }


    .course-header{
        width: 90% !important;
    }
    .card img{
        width: 100%;
    }
    .card-body{
        padding: 20px;
    }

    #register h5{
        font-weight: 600;
        font-size: 18px;
    }

    .btn-secondary{
        font-weight: 600;
        font-size: 16px;
    }

    #register p{
        font-weight: 400;
        font-size: 14px;

    }

    .faq-section article{
        width: 100% !important;
        padding: 0 !important;
    }

    #register .my-btn{
        width: 100% !important;
        padding: 0 !important;
        margin-bottom: 20px;
    }

    #register .my-article{
        width: 100% !important;
        padding-bottom: 10px !important;
        
    }
    .faq-accordian{
        width: 100% !important;
    }
    
    footer h1{
        font-weight: 600;
        font-size: 30px;
    }

    footer p{
        font-weight: 400;
        font-size: 14px;
    }
}


@media screen and (min-width: 578px) and (max-width: 991px){
    .carousel-inner img {
        height: 80vh;
        object-fit: cover;
        
    }
    .course-header{
        width: 90% !important;
    }

    .carousel-text h5{
        font-weight: 600;
        font-size: 40px;
    }

    .carousel-text p{
        font-weight: 400;
        font-size: 16px;
    }

    .card img{
        width: 100%;
    }

    .card-body{
        padding: 10px;
    }

    #courses article h1{
        font-weight: 600;
        font-size: 30px;
    }

    #course article p{
        font-weight: 400;
        font-size: 16px;
    }

    .card-title{
        font-weight: 600;
        font-size: 25px;
    }
    .card-text{
        font-weight: 400;
        font-size: 16px;    
    }
    .price{
        font-weight: 600;
        font-size: 18px;
    }

    #register h5{
        font-weight: 600;
        font-size: 30px;
    }

    #register p{
        font-weight: 400;
        font-size: 16px;
    }

    #register .my-btn{
        width: 100% !important;
        padding: 0 !important;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 30px;
    }

    #register .my-article{
        width: 100% !important;
    }

    .faq-section article{
        width: 100% !important;
        padding: 0 !important;
    }

    .faq-accordian{
        width: 100% !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1400px){
    .card{
        max-width: 550px !important;
    }
    .card-body{
        padding: 0;
        padding-left: 10px; 
    }

    
}


